body{
   padding-top:0px;
   margin-top: -20px;
}
<<<<<<< HEAD
=======
.active{
  color: green;
  font-style: italic;
  font-weight: bold;
}
.calln{
  font-size: 12px;
}
.visi{
  visibility: hidden;
}
textarea {
    resize: none;
}
>>>>>>> origin/Francis
